{%extends "store/base.html"%}
{%load static%}

{%block title%}My Cart{%endblock%}

{%block content%} 
<div class='container mx-auto px-4 py-8'>
    <h1 class="text-3xl font-semibold mb-4">My Cart</h1>

    {% if cart_items %}
        <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
            {% for item in cart_items %}
                <div class='bg-white p-4 rounded-lg shadow-md h-full'>
                    <a href='{% url "product_detail" pk=item.products.pk %}'>
                        <img class='object-cover h-48 w-full mb-4' src='{% static item.products.image.url %}' alt='Product Image'>
                        <h2 class='text-xl font-semibold mb-2'>{{ item.products.product }}</h2>
                        <p class='text-green-600 font-semibold mb-4'>Rs.{{ item.products.price }}</p>
                    </a>
                    <a href='{% url "product_detail" pk=item.products.pk %}' class='bg-blue-500 text-white px-7 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue text-center mr-8'>
                        Buy Now
                    </a>
                    <a href='#' class='bg-blue-500 text-white px-7 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue text-center mr-8'>
                        Remove
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>
{%endblock%}