{%extends "store/base.html"%}
{%load static%}

{%block title%}New arrivals{%endblock%}

{%block content%} 
<div class='container mx-auto px-4 py-8'>
    {%for category in category_list%}
    {%if category.product_set.all%}
    <h2 class="text-2xl font-semibold mb-4 mt-8">{{category.category}}</h2>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
        {% for product in category.latest_product %}
            <div class='bg-white p-4 rounded-lg shadow-md h-full'>
                <a href='{% url "product_detail" pk=product.pk %}'>
                    <img class='object-cover h-48 w-full mb-4' src='{% static product.image.url %}' alt='Product Image'>
                    <h2 class='text-xl font-semibold mb-2'>{{ product.product }}</h2>
                    <p class='text-green-600 font-semibold mb-4'>Rs.{{ product.price }}</p>
                </a>
                <a href='{% url "buynow" product_id=product.id%}' class='bg-blue-500 text-white px-7 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue text-center mr-4'>
                    Buy Now
                </a>
                <form method="post" action={%url 'add_to_cart' product_id=product.id%} class='inline bg-blue-500 text-white px-7 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue text-center mr-4'>
                    {% csrf_token %}
                <button type="submit">
                    Add To Cart
                </form>
            </div>
        {% endfor %}
    </div>
    {%endif%}
    {%endfor%}
</div> 
{%endblock%}