{%extends "store/accountbase.html"%}
{%block title%}Reset Password{%endblock%}
{%block content%}
<div class="max-w-md mx-auto py-8">
    <h1 class="text-3xl font-semibold text-center mb-8">Password Reset</h1>
    <form action="" method="post" class="space-y-4">
        {% csrf_token %}
        <div>
            <label for="email" class="block mb-1">Email Address</label>
            <input type="email" id="email" name="email" class="w-full border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:border-blue-400">
        </div>
        <div class="flex justify-center">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md mr-2 hover:bg-blue-600">Send</button>
            <a href="{% url 'login' %}" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600">Cancel</a>
        </div>
    </form>
</div>

{%endblock%}